.hero {
    height: 72vw;
    min-height: 450px;
    max-height: 600px;
    margin-top: 80px;
    position: relative;
    background: #000;
    position: relative;
    z-index: 0;
    .hero-bg {
        object-fit: cover;
        z-index: -1;
    }
    .hero-body {
        display: flex;
        padding: 5rem;
        transition: background-color 0.5s ease;
        .title{
            width: 47%; 
        }
        .subtitle {
            width: 47%;
            line-height: 150%;
            margin-bottom: 2.5rem;
        }
        a.button {
            height: 41px;
            padding: 10px 20px;
        }
    }
}