.navbar {
    .navbar-burger:hover {
        color: $primary-active;
    }
    .navbar-item {
        font-size: 0.875rem;
        padding: 0.5rem 1rem;
        font-weight: 700;
    }
    .navbar-brand {
        padding-left: 1.25rem;
        .navbar-item {
            padding: 0;
        }
    }
    .navbar-end {
        padding-right: 1.25rem;
        .navbar-item {
            padding: 0;
        }
    }
}

$breakpoint: 1007px;

#navMenu {
  @include until($breakpoint) {
    box-shadow: none;
    display: block;
    height: 260px;
    &.fade-in {
        transition: 0.3s all ease-out;
        opacity: 1.0;  
    }
    &.fade-out {
        padding: 0;
        transition: 0.2s all ease-in;
        opacity: 0.0;
        height: 0px;
        .navbar-item {
            display: none;
        }
    }
    .navbar-item {
        text-align: center;
        line-height: 30px;
    }
    .navbar-end {
        padding: 1rem 0;
    }
  }
}